services:
  postgres:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB: UrbanWear
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: hasib
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ../backend
    restart: unless-stopped
    env_file:
      - ../backend/.env
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
    ports:
      - "5000:5000"
    depends_on:
      - postgres

  frontend:
    build:
      context: ../frontend
    restart: unless-stopped
    ports:
      - "8080:80"
    depends_on:
      - backend

volumes:
  postgres_data:
